@font-face {
    font-family: 'PlainBlackNormal';
    src: url('../fonts/Plain_Black-webfont.eot');
    src: url('../fonts/Plain_Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Plain_Black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CarbonTypeRegular';
    src: url('../fonts/carbontype-webfont.eot');
    src: url('../fonts/carbontype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/carbontype-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'akashiregular';
    src: url('../fonts/akashi-webfont.eot');
    src: url('../fonts/akashi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akashi-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}